-- MySQL dump 10.13  Distrib 9.5.0, for Win64 (x86_64)
--
-- Host: localhost    Database: agroguard_db
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts_customuser`
--

DROP TABLE IF EXISTS `accounts_customuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_customuser` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `role` varchar(10) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `no_handphone` varchar(15) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_customuser`
--

LOCK TABLES `accounts_customuser` WRITE;
/*!40000 ALTER TABLE `accounts_customuser` DISABLE KEYS */;
INSERT INTO `accounts_customuser` VALUES (1,'pbkdf2_sha256$600000$8WGSjZaTTHG13WYCsQd5ug$ydKrd6TLoe0i7YsJFCWYoeItqxFHtmr54VpLWhhn0rU=',NULL,0,'ethanlee','','','ethananteng@gmail.com',0,1,'2025-12-08 09:32:55.284154','petani','','');
/*!40000 ALTER TABLE `accounts_customuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_customuser_groups`
--

DROP TABLE IF EXISTS `accounts_customuser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_customuser_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint(20) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq` (`customuser_id`,`group_id`),
  KEY `accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id` (`group_id`),
  CONSTRAINT `accounts_customuser__customuser_id_bc55088e_fk_accounts_` FOREIGN KEY (`customuser_id`) REFERENCES `accounts_customuser` (`id`),
  CONSTRAINT `accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_customuser_groups`
--

LOCK TABLES `accounts_customuser_groups` WRITE;
/*!40000 ALTER TABLE `accounts_customuser_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_customuser_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_customuser_user_permissions`
--

DROP TABLE IF EXISTS `accounts_customuser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_customuser_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint(20) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_customuser_user_customuser_id_permission_9632a709_uniq` (`customuser_id`,`permission_id`),
  KEY `accounts_customuser__permission_id_aea3d0e5_fk_auth_perm` (`permission_id`),
  CONSTRAINT `accounts_customuser__customuser_id_0deaefae_fk_accounts_` FOREIGN KEY (`customuser_id`) REFERENCES `accounts_customuser` (`id`),
  CONSTRAINT `accounts_customuser__permission_id_aea3d0e5_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_customuser_user_permissions`
--

LOCK TABLES `accounts_customuser_user_permissions` WRITE;
/*!40000 ALTER TABLE `accounts_customuser_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_customuser_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `user_id` bigint(20) NOT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `divisi` varchar(50) NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `admin_user_id_8a7d8779_fk_accounts_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_jenis_hama`
--

DROP TABLE IF EXISTS `admin_jenis_hama`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_jenis_hama` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `deskripsi` longtext NOT NULL,
  `gambar` varchar(100) DEFAULT NULL,
  `jumlah_serangan` int(11) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `gejala` longtext DEFAULT NULL,
  `nama_latin` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_jenis_hama`
--

LOCK TABLES `admin_jenis_hama` WRITE;
/*!40000 ALTER TABLE `admin_jenis_hama` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_jenis_hama` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agroguard_app_detectionresult`
--

DROP TABLE IF EXISTS `agroguard_app_detectionresult`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agroguard_app_detectionresult` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `plant_name` varchar(100) NOT NULL,
  `pest_name` varchar(100) NOT NULL,
  `severity_level` varchar(50) NOT NULL,
  `scientific_name` varchar(150) DEFAULT NULL,
  `confidence` decimal(5,2) NOT NULL,
  `image_path` varchar(255) NOT NULL,
  `detected_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agroguard_app_detectionresult`
--

LOCK TABLES `agroguard_app_detectionresult` WRITE;
/*!40000 ALTER TABLE `agroguard_app_detectionresult` DISABLE KEYS */;
/*!40000 ALTER TABLE `agroguard_app_detectionresult` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agroguard_app_dosageinstruction`
--

DROP TABLE IF EXISTS `agroguard_app_dosageinstruction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agroguard_app_dosageinstruction` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `dosage` varchar(100) NOT NULL,
  `spray_volume` varchar(100) NOT NULL,
  `time` varchar(100) NOT NULL,
  `frequency` varchar(100) NOT NULL,
  `interval_days` int(11) NOT NULL,
  `pre_harvest_interval` int(11) NOT NULL,
  `detection_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `agroguard_app_dosage_detection_id_752e84a1_fk_agroguard` (`detection_id`),
  CONSTRAINT `agroguard_app_dosage_detection_id_752e84a1_fk_agroguard` FOREIGN KEY (`detection_id`) REFERENCES `agroguard_app_detectionresult` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agroguard_app_dosageinstruction`
--

LOCK TABLES `agroguard_app_dosageinstruction` WRITE;
/*!40000 ALTER TABLE `agroguard_app_dosageinstruction` DISABLE KEYS */;
/*!40000 ALTER TABLE `agroguard_app_dosageinstruction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agroguard_app_filesresource`
--

DROP TABLE IF EXISTS `agroguard_app_filesresource`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agroguard_app_filesresource` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `pdf_path` varchar(255) NOT NULL,
  `youtube_url` varchar(255) NOT NULL,
  `detection_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `agroguard_app_filesr_detection_id_2e72f96d_fk_agroguard` (`detection_id`),
  CONSTRAINT `agroguard_app_filesr_detection_id_2e72f96d_fk_agroguard` FOREIGN KEY (`detection_id`) REFERENCES `agroguard_app_detectionresult` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agroguard_app_filesresource`
--

LOCK TABLES `agroguard_app_filesresource` WRITE;
/*!40000 ALTER TABLE `agroguard_app_filesresource` DISABLE KEYS */;
/*!40000 ALTER TABLE `agroguard_app_filesresource` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agroguard_app_pesticiderecommendation`
--

DROP TABLE IF EXISTS `agroguard_app_pesticiderecommendation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agroguard_app_pesticiderecommendation` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `option_name` varchar(100) NOT NULL,
  `description` longtext NOT NULL,
  `detection_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `agroguard_app_pestic_detection_id_67626650_fk_agroguard` (`detection_id`),
  CONSTRAINT `agroguard_app_pestic_detection_id_67626650_fk_agroguard` FOREIGN KEY (`detection_id`) REFERENCES `agroguard_app_detectionresult` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agroguard_app_pesticiderecommendation`
--

LOCK TABLES `agroguard_app_pesticiderecommendation` WRITE;
/*!40000 ALTER TABLE `agroguard_app_pesticiderecommendation` DISABLE KEYS */;
/*!40000 ALTER TABLE `agroguard_app_pesticiderecommendation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agroguard_app_pesttips`
--

DROP TABLE IF EXISTS `agroguard_app_pesttips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agroguard_app_pesttips` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `category` varchar(50) NOT NULL,
  `content` longtext NOT NULL,
  `detection_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `agroguard_app_pestti_detection_id_a2d8960a_fk_agroguard` (`detection_id`),
  CONSTRAINT `agroguard_app_pestti_detection_id_a2d8960a_fk_agroguard` FOREIGN KEY (`detection_id`) REFERENCES `agroguard_app_detectionresult` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agroguard_app_pesttips`
--

LOCK TABLES `agroguard_app_pesttips` WRITE;
/*!40000 ALTER TABLE `agroguard_app_pesttips` DISABLE KEYS */;
/*!40000 ALTER TABLE `agroguard_app_pesttips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `citra_daun`
--

DROP TABLE IF EXISTS `citra_daun`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `citra_daun` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nama_file` varchar(255) NOT NULL,
  `path_file` varchar(100) NOT NULL,
  `jenis_tanaman` varchar(100) NOT NULL,
  `status_deteksi` varchar(20) NOT NULL,
  `waktu_upload` datetime(6) NOT NULL,
  `waktu_deteksi` datetime(6) DEFAULT NULL,
  `petani_id` bigint(20) NOT NULL,
  `lahan_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `citra_daun_lahan_id_d52a0add_fk_lahan_id` (`lahan_id`),
  KEY `citra_daun_petani_id_dc1a2f94_fk_petani_user_id` (`petani_id`),
  CONSTRAINT `citra_daun_lahan_id_d52a0add_fk_lahan_id` FOREIGN KEY (`lahan_id`) REFERENCES `lahan` (`id`),
  CONSTRAINT `citra_daun_petani_id_dc1a2f94_fk_petani_user_id` FOREIGN KEY (`petani_id`) REFERENCES `petani` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citra_daun`
--

LOCK TABLES `citra_daun` WRITE;
/*!40000 ALTER TABLE `citra_daun` DISABLE KEYS */;
/*!40000 ALTER TABLE `citra_daun` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detection_result`
--

DROP TABLE IF EXISTS `detection_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detection_result` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `pest_name` varchar(100) DEFAULT NULL,
  `scientific_name` varchar(150) DEFAULT NULL,
  `confidence` decimal(5,2) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `detected_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detection_result`
--

LOCK TABLES `detection_result` WRITE;
/*!40000 ALTER TABLE `detection_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `detection_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_accounts_customuser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_accounts_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dosage_instruction`
--

DROP TABLE IF EXISTS `dosage_instruction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dosage_instruction` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `detection_id` int(11) DEFAULT NULL,
  `dosage` varchar(100) DEFAULT NULL,
  `spray_volume` varchar(100) DEFAULT NULL,
  `time` varchar(100) DEFAULT NULL,
  `frequency` varchar(100) DEFAULT NULL,
  `interval_days` int(11) DEFAULT NULL,
  `pre_harvest_interval` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `detection_id` (`detection_id`),
  CONSTRAINT `dosage_instruction_ibfk_1` FOREIGN KEY (`detection_id`) REFERENCES `detection_result` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dosage_instruction`
--

LOCK TABLES `dosage_instruction` WRITE;
/*!40000 ALTER TABLE `dosage_instruction` DISABLE KEYS */;
/*!40000 ALTER TABLE `dosage_instruction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `files_resource`
--

DROP TABLE IF EXISTS `files_resource`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `files_resource` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `detection_id` int(11) DEFAULT NULL,
  `pdf_path` varchar(255) DEFAULT NULL,
  `youtube_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `detection_id` (`detection_id`),
  CONSTRAINT `files_resource_ibfk_1` FOREIGN KEY (`detection_id`) REFERENCES `detection_result` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `files_resource`
--

LOCK TABLES `files_resource` WRITE;
/*!40000 ALTER TABLE `files_resource` DISABLE KEYS */;
/*!40000 ALTER TABLE `files_resource` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hasil_deteksi`
--

DROP TABLE IF EXISTS `hasil_deteksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hasil_deteksi` (
  `citra_id` bigint(20) NOT NULL,
  `confidence_score` decimal(5,2) NOT NULL,
  `tingkat_serangan` varchar(10) DEFAULT NULL,
  `jumlah_daun_terinfeksi` int(11) NOT NULL,
  `koordinat_bbox` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`koordinat_bbox`)),
  `gambar_hasil` varchar(100) DEFAULT NULL,
  `rekomendasi` longtext NOT NULL,
  `waktu_deteksi` datetime(6) NOT NULL,
  `jenis_hama_id` bigint(20) NOT NULL,
  PRIMARY KEY (`citra_id`),
  KEY `hasil_deteksi_jenis_hama_id_99589de0_fk_jenis_hama_id` (`jenis_hama_id`),
  CONSTRAINT `hasil_deteksi_citra_id_b272cb78_fk_citra_daun_id` FOREIGN KEY (`citra_id`) REFERENCES `citra_daun` (`id`),
  CONSTRAINT `hasil_deteksi_jenis_hama_id_99589de0_fk_jenis_hama_id` FOREIGN KEY (`jenis_hama_id`) REFERENCES `jenis_hama` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hasil_deteksi`
--

LOCK TABLES `hasil_deteksi` WRITE;
/*!40000 ALTER TABLE `hasil_deteksi` DISABLE KEYS */;
/*!40000 ALTER TABLE `hasil_deteksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jenis_hama`
--

DROP TABLE IF EXISTS `jenis_hama`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jenis_hama` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  `nama_latin` varchar(150) NOT NULL,
  `deskripsi` longtext NOT NULL,
  `gambar` varchar(100) DEFAULT NULL,
  `gejala` longtext NOT NULL,
  `cara_pencegahan` longtext NOT NULL,
  `cara_penanganan` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jenis_hama`
--

LOCK TABLES `jenis_hama` WRITE;
/*!40000 ALTER TABLE `jenis_hama` DISABLE KEYS */;
/*!40000 ALTER TABLE `jenis_hama` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lahan`
--

DROP TABLE IF EXISTS `lahan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lahan` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `nama_lahan` varchar(100) NOT NULL,
  `lokasi` varchar(255) NOT NULL,
  `luas_daerah` varchar(50) NOT NULL,
  `deskripsi` longtext NOT NULL,
  `jenis_tanaman` varchar(100) NOT NULL,
  `status_aktif` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `petani_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `lahan_petani_id_b786dfb4_fk_petani_user_id` (`petani_id`),
  CONSTRAINT `lahan_petani_id_b786dfb4_fk_petani_user_id` FOREIGN KEY (`petani_id`) REFERENCES `petani` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lahan`
--

LOCK TABLES `lahan` WRITE;
/*!40000 ALTER TABLE `lahan` DISABLE KEYS */;
/*!40000 ALTER TABLE `lahan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pencegahan_hama`
--

DROP TABLE IF EXISTS `pencegahan_hama`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pencegahan_hama` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `judul` varchar(200) NOT NULL,
  `sumber` varchar(500) NOT NULL,
  `deskripsi` longtext NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `created_by_id` bigint(20) DEFAULT NULL,
  `jenis_hama_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `pencegahan_hama_created_by_id_7312f656_fk_accounts_customuser_id` (`created_by_id`),
  KEY `pencegahan_hama_jenis_hama_id_83665ae6_fk_admin_jenis_hama_id` (`jenis_hama_id`),
  CONSTRAINT `pencegahan_hama_created_by_id_7312f656_fk_accounts_customuser_id` FOREIGN KEY (`created_by_id`) REFERENCES `accounts_customuser` (`id`),
  CONSTRAINT `pencegahan_hama_jenis_hama_id_83665ae6_fk_admin_jenis_hama_id` FOREIGN KEY (`jenis_hama_id`) REFERENCES `admin_jenis_hama` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pencegahan_hama`
--

LOCK TABLES `pencegahan_hama` WRITE;
/*!40000 ALTER TABLE `pencegahan_hama` DISABLE KEYS */;
/*!40000 ALTER TABLE `pencegahan_hama` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pest_tips`
--

DROP TABLE IF EXISTS `pest_tips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pest_tips` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `detection_id` int(11) DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `content` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `detection_id` (`detection_id`),
  CONSTRAINT `pest_tips_ibfk_1` FOREIGN KEY (`detection_id`) REFERENCES `detection_result` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pest_tips`
--

LOCK TABLES `pest_tips` WRITE;
/*!40000 ALTER TABLE `pest_tips` DISABLE KEYS */;
/*!40000 ALTER TABLE `pest_tips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pesticide_recommendation`
--

DROP TABLE IF EXISTS `pesticide_recommendation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pesticide_recommendation` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `detection_id` int(11) DEFAULT NULL,
  `option_name` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `detection_id` (`detection_id`),
  CONSTRAINT `pesticide_recommendation_ibfk_1` FOREIGN KEY (`detection_id`) REFERENCES `detection_result` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pesticide_recommendation`
--

LOCK TABLES `pesticide_recommendation` WRITE;
/*!40000 ALTER TABLE `pesticide_recommendation` DISABLE KEYS */;
/*!40000 ALTER TABLE `pesticide_recommendation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `petani`
--

DROP TABLE IF EXISTS `petani`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `petani` (
  `user_id` bigint(20) NOT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `no_handphone` varchar(15) NOT NULL,
  `alamat` longtext NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `petani_user_id_d1c4f698_fk_accounts_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `petani`
--

LOCK TABLES `petani` WRITE;
/*!40000 ALTER TABLE `petani` DISABLE KEYS */;
INSERT INTO `petani` VALUES (1,'ethan lee','','');
/*!40000 ALTER TABLE `petani` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_deteksi`
--

DROP TABLE IF EXISTS `riwayat_deteksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `riwayat_deteksi` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `catatan_petani` longtext NOT NULL,
  `status_penanganan` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `lahan_id` bigint(20) DEFAULT NULL,
  `petani_id` bigint(20) NOT NULL,
  `hasil_deteksi_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `riwayat_deteksi_lahan_id_e91d806c_fk_lahan_id` (`lahan_id`),
  KEY `riwayat_deteksi_petani_id_120cb900_fk_petani_user_id` (`petani_id`),
  KEY `riwayat_deteksi_hasil_deteksi_id_81e94031_fk_hasil_det` (`hasil_deteksi_id`),
  CONSTRAINT `riwayat_deteksi_hasil_deteksi_id_81e94031_fk_hasil_det` FOREIGN KEY (`hasil_deteksi_id`) REFERENCES `hasil_deteksi` (`citra_id`),
  CONSTRAINT `riwayat_deteksi_lahan_id_e91d806c_fk_lahan_id` FOREIGN KEY (`lahan_id`) REFERENCES `lahan` (`id`),
  CONSTRAINT `riwayat_deteksi_petani_id_120cb900_fk_petani_user_id` FOREIGN KEY (`petani_id`) REFERENCES `petani` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_deteksi`
--

LOCK TABLES `riwayat_deteksi` WRITE;
/*!40000 ALTER TABLE `riwayat_deteksi` DISABLE KEYS */;
/*!40000 ALTER TABLE `riwayat_deteksi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sensor_data`
--

DROP TABLE IF EXISTS `sensor_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sensor_data` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `device_id` varchar(50) NOT NULL,
  `temperature` decimal(5,2) NOT NULL,
  `humidity` decimal(5,2) NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `lahan_id` bigint(20) DEFAULT NULL,
  `petani_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sensor_data_lahan_id_01042d1e_fk_lahan_id` (`lahan_id`),
  KEY `sensor_data_petani_id_a41f637e_fk_petani_user_id` (`petani_id`),
  CONSTRAINT `sensor_data_lahan_id_01042d1e_fk_lahan_id` FOREIGN KEY (`lahan_id`) REFERENCES `lahan` (`id`),
  CONSTRAINT `sensor_data_petani_id_a41f637e_fk_petani_user_id` FOREIGN KEY (`petani_id`) REFERENCES `petani` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sensor_data`
--

LOCK TABLES `sensor_data` WRITE;
/*!40000 ALTER TABLE `sensor_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `sensor_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statistik_hama`
--

DROP TABLE IF EXISTS `statistik_hama`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statistik_hama` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `tingkat` varchar(20) NOT NULL,
  `jumlah` int(11) NOT NULL,
  `keterangan` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statistik_hama`
--

LOCK TABLES `statistik_hama` WRITE;
/*!40000 ALTER TABLE `statistik_hama` DISABLE KEYS */;
/*!40000 ALTER TABLE `statistik_hama` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-08 17:50:14
