{% load static %}
<footer class="footer">
    <div class="footer-content">
        <div>
            <h3>TERIMA KASIH !</h3>
            <p>Sudah mengunjungi website kami.</p>
            <small>© 2025 By AgroGuard</small>
        </div>
        <div>
            <h4>Tentang AgroGuard</h4>
            <p>AgroGuard hadir sebagai solusi cerdas untuk melindungi tanaman. Dengan teknologi AI dan IoT, AgroGuard membantu mendeteksi serangan hama lebih awal supaya petani bisa cepat mengambil tindakan yang tepat.</p>
        </div>
        <div>
            <h4>Hubungi Kami :</h4>
            <div class="social-icons">
                <a href="mailto:support@agroguard.com" title="Email">📧</a>
                <a href="#" title="Instagram">📷</a>
                <a href="#" title="Twitter/X">✖️</a>
            </div>
        </div>
    </div>
</footer>