/* Halaman Dashboard ADMIN */

box-sizing: border-box;

position: relative;
width: 1430px;
height: 1108px;

background: linear-gradient(180deg, #FFFFFF 45%, #239706 100%);
border: 1px solid #ce3737ff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group 1 */

position: absolute;
width: 1115.3px;
height: 257.92px;
left: -1.5px;
top: 0px;

transform: rotate(-89.9deg);


/* Rectangle 19 */

position: absolute;
width: 1115.3px;
height: 257.36px;
left: -0.94px;
top: 0px;

background: linear-gradient(270deg, rgba(100, 142, 111, 0.87) 5.29%, #1F3422 100%);
border-radius: 0px 0px 30px 30px;
transform: rotate(-89.9deg);


/* Frame 9 */

position: absolute;
width: 256px;
height: 61.36px;
left: 0px;
top: 214px;

background: linear-gradient(270deg, rgba(100, 142, 111, 0.87) 5.29%, #1F3422 100%);
border-radius: 0px;
transform: matrix(1, 0, 0, 1, 0, 0);


/* gauge-high-solid 3 */

position: absolute;
left: 18.75%;
right: 72.16%;
top: 32.59%;
bottom: 31.05%;

transform: matrix(1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
transform: matrix(1, 0, 0, 1, 0, 0);


/* Dashboard */

position: absolute;
left: 35.16%;
right: 9.74%;
top: 27.7%;
bottom: 16.15%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: #000000;

transform: matrix(1, 0, 0, 1, 0, 0);


/* Frame 10 */

position: absolute;
width: 256px;
height: 61.36px;
left: 0px;
top: 214px;

background: linear-gradient(270deg, rgba(100, 142, 111, 0.87) 5.29%, #1F3422 100%);
border-radius: 0px;
transform: matrix(1, 0, 0, 1, 0, 0);


/* gauge-high-solid 3 */

position: absolute;
left: 18.75%;
right: 72.16%;
top: 32.59%;
bottom: 31.05%;

transform: matrix(1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
transform: matrix(1, 0, 0, 1, 0, 0);


/* Dashboard */

position: absolute;
left: 35.16%;
right: 9.74%;
top: 27.7%;
bottom: 16.15%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: #000000;

transform: matrix(1, 0, 0, 1, 0, 0);


/* Rectangle 25 */

box-sizing: border-box;

position: absolute;
width: 262px;
height: 125px;
left: 330px;
top: 277px;

background: rgba(95, 149, 105, 0.11);
border: 1px solid #5F9569;
box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);


/* Screenshot_2025-09-24_000539-removebg-preview 2 */

position: absolute;
width: 65px;
height: 63px;
left: 98px;
top: 32px;

background: url(Screenshot_2025-09-24_000539-removebg-preview.png);
border-radius: 17px;


/* Pencegahan Hama */

position: absolute;
width: 171px;
height: 30px;
left: 91px;
top: 302px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: #000000;



/* Keluar */

position: absolute;
width: 143px;
height: 30px;
left: 101px;
top: 1062px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;



/* Vector */

position: absolute;
left: 4.03%;
right: 93.82%;
top: 95.08%;
bottom: 1.97%;

background: #FAFAFA;


/* Ellipse 10 */

position: absolute;
width: 57px;
height: 56px;
left: 1311px;
top: 57px;

background: #648E6F;


/* KI */

position: absolute;
width: 62px;
height: 54px;
left: 1332px;
top: 74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Kristi Irene */

position: absolute;
width: 90px;
height: 33px;
left: 1231px;
top: 68px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;



/* Admin */

position: absolute;
width: 44px;
height: 33px;
left: 1227px;
top: 85px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 15px;
line-height: 18px;
text-align: right;

color: #000000;



/* Dashboard Admin */

position: absolute;
width: 400px;
height: 59px;
left: 333px;
top: 63px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

color: #000000;



/* Top 3 Jenis hama */

position: absolute;
width: 400px;
height: 59px;
left: 373px;
top: 523px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Analisis serangan Hama */

position: absolute;
width: 400px;
height: 59px;
left: 374px;
top: 837px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #000000;



/* Selamat datang AgroAdmin */

position: absolute;
width: 894px;
height: 30px;
left: 333px;
top: 122px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;

color: #648E6F;



/* AgroGuard */

position: absolute;
width: 195px;
height: 44px;
left: 67px;
top: 109px;

font-family: 'Cagliostro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;



/* Line 3 */

position: absolute;
width: 260px;
height: 0px;
left: 0px;
top: 171px;

border: 1px solid #FFFFFF;


/* Line 4 */

position: absolute;
width: 260px;
height: 0px;
left: -2px;
top: 1046px;

border: 1px solid #FFFFFF;


/* Rectangle 42 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 354px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #5F9569;
border-radius: 30px;


/* Stats Card 1 */

position: absolute;
width: 64px;
height: 12px;
left: 366px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* Rectangle 44 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 354px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #5F9569;
border-radius: 30px;


/* Stats Card 1 */

position: absolute;
width: 64px;
height: 12px;
left: 366px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* Rectangle 45 */

box-sizing: border-box;

position: absolute;
width: 262px;
height: 125px;
left: 695px;
top: 277px;

background: rgba(224, 154, 154, 0.07);
border: 1px solid #E09A9A;


/* 127 */

position: absolute;
width: 154px;
height: 48px;
left: 754px;
top: 305px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
/* identical to box height */
text-align: center;

color: #E09A9A;



/* Rectangle 46 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 719px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #5F9569;
border-radius: 30px;


/* Stats Card 1 */

position: absolute;
width: 64px;
height: 12px;
left: 731px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* Rectangle 47 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 719px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #E09A9A;
border-radius: 30px;


/* Stats Card 2 */

position: absolute;
width: 64px;
height: 12px;
left: 731px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* Rectangle 48 */

box-sizing: border-box;

position: absolute;
width: 262px;
height: 125px;
left: 1054px;
top: 277px;

background: rgba(221, 187, 92, 0.09);
border: 1px solid #DDBB5C;


/* Rectangle 55 */

box-sizing: border-box;

position: absolute;
width: 262px;
height: 125px;
left: 1054px;
top: 277px;

background: rgba(221, 187, 92, 0.09);
border: 1px solid #DDBB5C;


/* Rectangle 63 */

position: absolute;
width: 899px;
height: 233px;
left: 366px;
top: 560px;

background: rgba(243, 195, 39, 0.5);
border: 1px solid #A72222;
border-radius: 20px;


/* Rectangle 64 */

position: absolute;
width: 515px;
height: 156px;
left: 366px;
top: 870px;

background: rgba(34, 34, 31, 0.76);
border: 1px solid #A72222;
border-radius: 20px;


/* Jenis Hama yang sering Menyerang Tanaman */

position: absolute;
width: 409px;
height: 23px;
left: 602px;
top: 728px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #365E36;



/* Rectangle 49 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 1078px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #5F9569;
border-radius: 30px;


/* Stats Card 1 */

position: absolute;
width: 64px;
height: 12px;
left: 1090px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* Rectangle 50 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 1078px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #DDBB5C;
border-radius: 30px;


/* Stats Card 3 */

position: absolute;
width: 64px;
height: 12px;
left: 1090px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* 127 */

position: absolute;
width: 154px;
height: 48px;
left: 387px;
top: 305px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
/* identical to box height */
text-align: center;

color: #648E6F;



/* Total Pengguna Web */

position: absolute;
width: 127px;
height: 17px;
left: 397px;
top: 348px;

font-family: 'Roboto';
font-style: normal;
font-weight: 200;
font-size: 10px;
line-height: 12px;
text-align: center;

color: #000000;



/* Total Deteksi */

position: absolute;
width: 127px;
height: 17px;
left: 767px;
top: 347px;

font-family: 'Roboto';
font-style: normal;
font-weight: 200;
font-size: 10px;
line-height: 12px;
text-align: center;

color: #000000;



/* Hama Terdeteksi */

position: absolute;
width: 127px;
height: 17px;
left: 1123px;
top: 349px;

font-family: 'Roboto';
font-style: normal;
font-weight: 200;
font-size: 10px;
line-height: 12px;
text-align: center;

color: #000000;



/* 127 */

position: absolute;
width: 154px;
height: 35px;
left: 754px;
top: 305px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
text-align: center;

color: #E09A9A;



/* 127 */

position: absolute;
width: 154px;
height: 35px;
left: 1111px;
top: 305px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
text-align: center;

color: #E09A9A;



/* Rectangle 57 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 719px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #5F9569;
border-radius: 30px;


/* Stats Card 1 */

position: absolute;
width: 64px;
height: 12px;
left: 731px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* Rectangle 58 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 719px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #E09A9A;
border-radius: 30px;


/* Stats Card 2 */

position: absolute;
width: 64px;
height: 12px;
left: 731px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* Rectangle 61 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 1078px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #5F9569;
border-radius: 30px;


/* Stats Card 1 */

position: absolute;
width: 64px;
height: 12px;
left: 1090px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* Rectangle 62 */

box-sizing: border-box;

position: absolute;
width: 87px;
height: 20px;
left: 1078px;
top: 267px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #D9D9D9;
border: 1px solid #DDBB5C;
border-radius: 30px;


/* Stats Card 3 */

position: absolute;
width: 64px;
height: 12px;
left: 1090px;
top: 269px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: right;

color: #000000;



/* istockphoto-1270758296-612x612-removebg-preview 1 */

position: absolute;
width: 35px;
height: 35px;
left: 43px;
top: 305px;

background: url(/static/admin_dashboard/Screenshot_2025-09-24_000539-removebg-preview.png);


/* Rectangle 40 */

box-sizing: border-box;

position: absolute;
width: 1099px;
height: 1010px;
left: 298px;
top: 82px;

border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Line 7 */

position: absolute;
width: 899px;
height: 0px;
left: 366px;
top: 723px;

border: 1px solid #000000;
transform: rotate(0.13deg);


/* Line 28 */

position: absolute;
width: 161px;
height: 0px;
left: 653px;
top: 562px;

border: 1px solid #000000;
transform: rotate(89.63deg);


/* Line 29 */

position: absolute;
width: 161.01px;
height: 0px;
left: 974px;
top: 562px;

border: 1px solid #000000;
transform: rotate(89.29deg);


/* S */

position: absolute;
width: 13px;
height: 23px;
left: 376px;
top: 970px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;



/* M */

position: absolute;
width: 18px;
height: 23px;
left: 373px;
top: 930px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;



/* H */

position: absolute;
width: 15px;
height: 23px;
left: 375px;
top: 890px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;



/* Vector 2 */

position: absolute;
width: 479px;
height: 91px;
left: 402px;
top: 904px;

border: 1px solid #DA1E1E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Ellipse 15 */

position: absolute;
width: 10px;
height: 11px;
left: 565px;
top: 992px;

background: #000000;


/* Ellipse 17 */

position: absolute;
width: 10px;
height: 11px;
left: 703px;
top: 991px;

background: #000000;


/* Ellipse 18 */

position: absolute;
width: 10px;
height: 11px;
left: 844px;
top: 990px;

background: #000000;


/* Ellipse 16 */

position: absolute;
width: 10px;
height: 11px;
left: 405px;
top: 992px;

background: #000000;


/* Vector 3 */

position: absolute;
width: 479px;
height: 101px;
left: 402px;
top: 895px;

border: 1px solid #000000;


/* Rectangle 138 */

position: absolute;
width: 197px;
height: 128px;
left: 938px;
top: 881px;

background: #EAEA83;
border-radius: 22px;


/* High(H):21-59% */

position: absolute;
width: 96px;
height: 16px;
left: 948px;
top: 897px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #000000;



/* Low(L):0-8% */

position: absolute;
width: 76px;
height: 16px;
left: 948px;
top: 978px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #000000;



/* Medium(M):8-21% */

position: absolute;
width: 113px;
height: 16px;
left: 948px;
top: 937px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #000000;



/* Minggu 1 */

position: absolute;
width: 45px;
height: 13px;
left: 397px;
top: 1003px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 11px;
line-height: 13px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Minggu 2 */

position: absolute;
width: 45px;
height: 13px;
left: 546px;
top: 1003px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 11px;
line-height: 13px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Minggu 3 */

position: absolute;
width: 45px;
height: 13px;
left: 687px;
top: 1003px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 11px;
line-height: 13px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Minggu 4 */

position: absolute;
width: 45px;
height: 13px;
left: 826px;
top: 1003px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 11px;
line-height: 13px;
/* identical to box height */
text-align: center;

color: #FFFFFF;

