{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>
<body>
    <div class="container">
        <!-- Panel Kiri -->
        <div class="left-panel">
            <img src="{% static 'accounts/images/logo.png' %}" alt="Logo AgroGuard">
            <p><strong>Lindungi Tanaman Agar Tetap Aman</strong></p>
            <p>AgroGuard Siap Mendeteksi Hama Lebih Awal</p>
            <p>Beri Solusi Tepat Sebelum Masalah Berkembang</p>
        </div>

        <!-- Panel Kanan -->
        <div class="right-panel">
            <h2>Masuk ke Akun Anda</h2>

            <form method="POST" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <label>Email atau Username</label>
                <input type="text" name="username" placeholder="Masukkan Email atau Username" required>

                <label>Password</label>
                <input type="password" name="password" placeholder="Masukkan Password" required>

                <a href="#" class="forgot">Lupa Password ?</a>
                <button type="submit" class="login">Masuk</button>
            </form>

            <p class="login-link">
                Belum punya akun?
                <a href="{% url 'accounts:register' %}">Daftar Akun Baru</a>
            </p>
        </div>
    </div>
</body>
</html>
