{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - AgroGuard</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>
<body>

<div class="container">
    <div class="right-panel" style="margin: auto; width: 400px;">
        <h2>Reset Password</h2>

        {% if messages %}
                {% for message in messages %}
                    <div style="color: rgb(255, 24, 24); text-align: center; margin-bottom: 10px;">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

        <form method="POST">
            {% csrf_token %}

            <!-- Kode Reset -->
            <div class="form-group">
                <label>Kode Reset</label>
                <input type="text" name="code" placeholder="Masukkan kode reset" required>
            </div>

            <!-- Password Baru -->
            <div class="form-group">
                <label>Password Baru</label>
                <input type="password" name="password" placeholder="Masukkan password baru" required>
            </div>

            <!-- Konfirmasi Password -->
            <div class="form-group">
                <label>Konfirmasi Password</label>
                <input type="password" name="confirm_password" placeholder="Ulangi password baru" required>
            </div>

            <button type="submit" class="btn-login">Simpan Password</button>
        </form>

        <p style="text-align:center; margin-top:10px;">
            <a href="{% url 'accounts:login' %}">Kembali ke Login</a>
        </p>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const alerts = document.querySelectorAll(".alert");
  alerts.forEach((alert) => {
    setTimeout(() => {
      alert.classList.add("fade-out");
      setTimeout(() => alert.remove(), 600); // hapus dari DOM setelah animasi selesai
    }, 4000); // tampil 4 detik sebelum fade-out
  });
});
</script>

</body>
</html>
